<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Bringing Burgers to you!</title>
</head>

<body>


    <div class="jumbotron jumbotron-fluid"
        style="background-image: url(https://png2.cleanpng.com/sh/c54c77286eafb37a7b8f21ef4037d7ed/L0KzQYq3UcE2N6N7fZH0aYP2gLBuTfhidZN6itlucj32hMPshgQubpD0fJ9vaYr9iX7rkvlvc6Qye9H2cIX3dcO0ifNwdqQye9d5YYSwfbLygf5idl5njeRwZYKwebz2jr1oepJ5geU2ZHH1eX7tggN1NZd0h9Y2NXO2dYSAUBNmbGhrSKg3NEi8RYi5V8kyPWU8Tao6MkS3SYi5WL5xdpg=/kisspng-hamburger-street-food-fizzy-drinks-computer-icons-cepat-makanan-burger-ikon-gratis-dari-fast-food-5c3e373ced7f06.4895727915475812449728.png);">
        <div class="container">
            <h1 class="display-4">Burger Run!</h1>

        </div>
    </div>
    {{!-- <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/food1.jpg">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h5 class="h5 orange-text"><i class="fa fa-camera-retro"></i> Photography</h5>
                <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>


            </div>
        </div>
    </div> --}}

    {{{body}}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>